h1,
p {
  padding: 0 0 0 10px;
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

h2 {
  font-size: 20px;
  margin-top: auto;
  margin-top: auto;
  font-family: "Bebas Neue", cursive;
  text-align: left;
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Bebas Neue", cursive;
}

img {
  display: block;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  float: right;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #494747;
}
#weather-description {
  font-family: "Bebas Neue", cursive;
  float: left;
}

#search-button,
#city-input {
  font-family: "Bebas Neue", cursive;
}

#geo-button {
  margin-left: 8px;
  font-family: "Bebas Neue", cursive;
}
.last-updated {
  margin-left: 8px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}
.currentTemperature {
  font-weight: bold;
  font-size: 150px;
}
.box {
  border: solid #698796;
  border-radius: 10px;
  margin: 0 auto;
  width: 600px;
  background: #7799aa;
}
.container {
  font-family: "Bebas Neue", cursive;
}
.rain-icon:hover,
.sun-rain-city-icon:hover,
.rain-city-icon:hover,
.cloud-sun-icon:hover {
  color: #909c1e;
}
.sun-rain-city-icon,
.rain-city-icon,
.cloud-sun-icon {
  color: #bfce3b;
}

.main-temp {
  font-size: 40px;
}
.row {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
